:root{ 
     --main-font: "Roboto", sans-serif;
     --secondary-font: "Raleway", sans-serif;
     --accent-color: #2196F3;
      --color-text-white: #FFFFFF;
      --primaru-text-color:#212121;
      --title-text-color:#757575;
      --color-efective: #2F303A;
   }
      
      
body {
    font-family: var(--main-font);
  background-color: var(--color-text-white);
    color: var(--primaru-text-color);
}  
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
ul,
ol{
    margin: 0;
    padding: 0;
}
img {
    display: block;
}

.link {
    text-decoration: none;
    color: var(--primaru-text-color);
    
}
.list {
    list-style: none;
}
.address {
    font-style: normal;
    
}  
.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
} 
 
    

.header{
    padding-top: 32px;
    padding-bottom: 32px;
    border: 1px solid #ececec;
    border-top: none;
}   

.header .container{
    display: flex;
    align-items: center;
    
}
.navigation{
    display: flex;
    align-items: center;
}
.navigation-list{
     display: flex;
     align-items: center;
}
.contacts-list{ 
margin-left: auto;    
display: flex;
align-items: center;
}
.navigation-item:not(:last-child){
    margin-right: 50px;
    
}
.container-features{
    padding-top: 94px;
    padding-bottom: 47px;
}
.container-list{
    display: flex;
    flex-wrap: nowrap;
    margin-left: -30px;
    margin-top: -30px;
    
   
}
.features-link{
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
}

.link-name{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}
.web-navigation{
     margin-right: 93px;
     padding-top: 32px;
     padding-bottom: 32px;

    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;  
    }     
    /*Подсвечивание страницы*/  
.navigation-list .navigation-link.navigation-link-nav {
         color: var(--accent-color);
    }    
    
     
.Web-color  {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    }   

.navigation-link {  
    padding-top: 32px;
    padding-bottom: 32px;   
      
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primaru-text-color);
       
    }     
   
    
    .navigation-link:hover,
    .navigation-link:focus {
     color: var(--accent-color);
    }
    .tel-link:not(:last-child){
      margin-right: 50px;
    }
    
.contacts-mail{
    padding-top: 32px;
    padding-bottom: 32px;
    margin-left: auto;
    
        

    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color)
  }
       
    
.contacts-mail:hover,
.contacts-mail:focus{ 
    color: var(--accent-color);
    }
.effective {
   background-color: var(--color-efective); 
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
        
    }    
.effective-solution{
       
    margin-bottom: 30px; 
    padding-left:  252px;
    padding-right: 252px;
    text-align: center;
       
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--color-text-white);
     }
/*Кнопка "заказать услугу"*/
.service-btn {
                
    min-width: 200px;
    padding: 10px 32px ;
        
        
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    border-radius: 4px; 
    align-items: center;
    letter-spacing: 0.06em;
    background: var(--accent-color);
    color: var(--color-text-white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
     }        
    
    

         
.Features-title{
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primaru-text-color);        
    }      
             
             
             
.Features-title-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--title-text-color)
    }           
            
.about-title{
    
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primaru-text-color);
    }     
.about-list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
   
    }
.about-list-item{
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;

        }
/* фон наша команда*/
.about {
    padding-top: 47px;
    padding-bottom: 94px;
               
    
            
    }
.photo{
    padding-top: 94px;
    padding-bottom: 94px;
   background: #F5F4FA;
   
    }
           
       
.photo-title{
          
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    }
.photo-list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
           
    }
.photo-title-link{
    flex-basis: calc(100% / 4 - 30px);  
    margin-left: 30px;
    margin-top: 30px;
    background:  var(--color-text-white);
    }
.photo-title-box{
    padding: 30px 20px; 
    
               /* material shadow v1 */

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2); 
    border-radius: 0px 0px 4px 4px;
    }
            
.contacts-name {
    padding-top: 60px;
    padding-bottom: 60px;
     background: var(--color-efective);
    }
   
       
   
         
           
     
.photo-title-name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primaru-text-color);
    }       
           
   
.photo-title-profession{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color)
            
    }   
.web-logo{
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--color-text-white);
    }
.web-logo-footer{
    display: block;
    margin-bottom: 30px;      
    } 
       
.contact-list-item:not(:last-child){ 
    margin-bottom: 9px;
       }
.contact-list-item{
    display: block;
       }
     
.contact-list-link{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    }      
        
 
.contact-list-address{
    font-weight:400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    }
           

.contact-list-link:hover,
.contact-list-link:focus{
    color: var(--accent-color);  
           }    

       /*portfolio*/        
    
           
             .portfolio-link{
                padding-top: 94px;
                padding-bottom: 94px;
            }
           
            .list-btn{
                margin-bottom: 50px;
                display:flex;
                justify-content: center;
                }
                
                
                .list-btn-item:not(:last-child){ 
                   
                 margin-right: 8px;
                 }
                 
                 
                  
            .button{ 
                background: #F5F4FA;
                font-family: var(--main-font);
                color: var(--primaru-text-color);
                  }
                  
               
        
            .list-primary {
                padding: 6px 22px;
                 font-family: inherit;
                 font-weight: 500;
                 font-size: 16px;
                 line-height: 1.62;
                 text-align: center;
                 letter-spacing: 0.03em;
                 border-radius: 4px; 
                 background: #F5F4FA;
                 border-radius: 4px;
                 
                  border: 1px solid #F5F4FA;


                
                }   
       /*Кнопка подсвечивания портфолио*/
            .list-primary:hover,
            .list-primary:focus {
                  background-color: var(--accent-color);
                 color: var(--color-text-white);
                  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
                  0px 1px 2px rgba(0, 0, 0, 0.08),
                  0px 2px 2px rgba(0, 0, 0, 0.12);
                  border-radius: 4px;
                }
           
             /*Карточки*/
             .list-imeges-box{
                 padding: 20px 24px;
                 border: 1px solid #EEEEEE;
                 border-top: none;
             }
              .list-imeges{
                  display: flex;
                  flex-wrap: wrap;
                  margin-left: -30px;
                  margin-top: -30px;
                  }

              .list-imeges-item{
                  flex-basis: calc(100% / 3 - 30px);
                  margin-left: 30px;
                  margin-top: 30px;
                  
                       }   
               .list-imeges-name {
                   margin-bottom: 4px;
                   
                  
                   font-weight: bold;
                   font-size: 18px;
                   line-height: 36px;
                   /* identical to box height, or 200% */
                   letter-spacing: 0.06em;
                   color: var(--primaru-text-color);
                    }
               
             
             
              .list-imeges-btn{
                  font-weight: 400;
                  font-size: 16px;
                  line-height: 1.87;
                  letter-spacing: 0.03em;
                  color: var(--title-text-color)
                  } 
               

              

               
         
        
          
           
         
           
       
            

            
           
            
        
            
           
          
           


            
            
           
       

          
              
              
           
      
    
    
    
               
               

               
              

              
         

              
         


        
       
            
           

            
        
           
        

           

       

              
           

             
        

         
     

        
   
    
    
   
    
    

